@import "tailwindcss";

@layer base {
    /* body{
        font-family: "NotoSans-Black";
    } */
    
    main {
        @apply
            w-[816px]
            mx-auto
            text-black
            leading-tight;
    }
    table {
        @apply
        w-full
        text-center
        border-t
        border-b-0
        border-l-0
        border-r-0;
    }
    th {
        @apply 
             border
             border-black
             bg-gray-200
             px-2
             py-1;
    }
    td {
        @apply 
            border
            border-black
            px-2
            py-1;
    }

    section {
        @apply
            mt-2
            border-3
    }
    /* @font-face {
        font-family: 'NotoSans-Black';
        src: url('fonts/NotoSans-Black.ttf');
        font-weight: normal;
        font-style: normal;
    }

    .notosans-black {
        font-family: "NotoSans-Black";
    } */
}

@layer components {
    
    .header-imagen {
        @apply
            py-2
            flex
            items-center
            justify-between;
    }
    .header-titulo {
        @apply
            font-bold text-2xl text-center flex-1;
    }
    .encabezado-titulo {
        @apply
        bg-personalizado
        text-center 
        text-white
        text-size-medium
        py-0.5
        border-b-3
        border-black;
    }
    .espacio-contenedor {
        @apply
            px-3 
            py-2
            ml-6
            space-y-3
            text-size-small;
    }
    .linea-w-5 {
        @apply
            w-5
            h-2
            border-b;
    }
    .linea-flex-1 {
        @apply
            flex-1
            h-2
            border-b;
    }
    .linea-firma {
        @apply
            border-t
            w-4/5
            mx-auto
    }
    .width-item-1 {
        @apply
            w-[150px]
            font-semibold;
    }
    .width-item-2 {
        @apply
        w-[300px]
        border-b
        border-black;
    }
    .width-item-3 {
        @apply
            w-[60px]
            text-left
            mx-16
            font-semibold;
    }
    .width-item-4 {
        @apply
            w-28
            font-semibold;
    }
     .width-item-5 {
        @apply
            w-12
            text-center
            border-b;
    }
    .box-border-32 {
        @apply
            w-32
            h-5
            border
            mx-4
            flex
            items-center
            justify-center;
    }
    .box-border-12 {
        @apply
            w-12
            h-6
            border
            flex 
            items-center
            justify-center;
    }
    .text-observaciones {
        @apply
            pt-9
            pl-2
            pr-4
            text-justify
            text-size-small;
    }
    .text-protesta {
        @apply
            p-2
            text-center
            text-white
            bg-personalizado2
            text-size-small;
    }
    .text-border-w-32 {
        @apply
            border-b 
            text-center
            w-32;
    }
    .text-border-w-10 {
        @apply
            border-b 
            text-center
            w-10;
    }
    .td-sin-bordes-lr {
        @apply
            border-t
            border-l-0
            border-r-0
            border-b-0
            border-black;
        }
    }

@theme {
    --color-personalizado: #9b2247;
    --color-personalizado2: #a57f2c;
    --text-size-small: 8.5px;
    --text-size-medium: 10px;
}